# The Series Data Structure

In [1]:
import pandas as pn

In [2]:
pn.Series?

Init signature:
pn.Series(
    data=None,
    index=None,
    dtype=None,
    name=None,
    copy=False,
    fastpath=False,
)
Docstring:
One-dimensional ndarray with axis labels (including time series).

Labels need not be unique but must be a hashable type. The object
supports both integer- and label-based indexing and provides a host of
methods for performing operations involving the index. Statistical
methods from ndarray have been overridden to automatically exclude
missing data (currently represented as NaN).

Operations between Series (+, -, /, *, **) align values based on their
associated index values-- they need not be the same length. The result
index will be the sorted union of the two indexes.

Parameters
----------
data : array-like, Iterable, dict, or scalar value
    Contains data stored in Series.

    .. versionchanged:: 0.23.0
       If data is a dict, argument order is maintained for Python 3.6
       and later.

index : array-like or Index (1d)
    Values must be hashable and have the same length as `data`.
    Non-unique index values are allowed. Will default to
    RangeIndex (0, 1, 2, ..., n) if not provided. If both a dict and index
    sequence are used, the index will override the keys found in the
    dict.
dtype : str, numpy.dtype, or ExtensionDtype, optional
    Data type for the output Series. If not specified, this will be
    inferred from `data`.
    See the :ref:`user guide <basics.dtypes>` for more usages.
name : str, optional
    The name to give to the Series.
copy : bool, default False
    Copy input data.
File:           ~/opt/anaconda3/lib/python3.7/site-packages/pandas/core/series.py
Type:           type
Subclasses:     SubclassedSeries

In [3]:
animals =['Tiger','Bear', 'Moose']
pn.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [5]:
numbers = [1, 2, 3]
pn.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [6]:
animals = ['Tiger', 'Bear', None]
pn.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [8]:
import numpy as np

In [9]:
np.nan == None

False

In [10]:
np.nan == np.nan

False

In [11]:
np.isnan(np.nan)

True

In [13]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pn.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [14]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [15]:
s = pn.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [35]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pn.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

In [30]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}

In [31]:
s=pn.Series(sports)

In [26]:
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [33]:
s=pn.Series(sports,index=['1w','22','33'])

In [34]:
s

1w    NaN
22    NaN
33    NaN
dtype: object

In [37]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pn.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [38]:
s.iloc[3]

'South Korea'

In [39]:
s.loc['Golf']

'Scotland'

In [40]:
s[3]

'South Korea'

In [42]:
s['Golf']

'Scotland'

In [43]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pn.Series(sports)

In [44]:
s

99          Bhutan
100       Scotland
101          Japan
102    South Korea
dtype: object

In [46]:
s[99]

'Bhutan'

In [47]:
s = pn.Series([100.00, 120.00, 101.00, 3.00])
s

0    100.0
1    120.0
2    101.0
3      3.0
dtype: float64

In [48]:
s[0]

100.0

In [49]:
total = 0
for item in s:
    total+=item
print(total)

324.0

In [50]:
t=0
for item in s:
    t+=item

In [51]:
t

324.0

In [52]:
import numpy as np

total = np.sum(s)
print(total)

324.0

In [53]:
s= pn.Series(np.random.randint(0,1000,10000))

In [54]:
s

0       706
1       247
2       445
3       189
4       202
       ...
9995    411
9996    269
9997    870
9998    991
9999    781
Length: 10000, dtype: int64

In [55]:
len(s)

10000

In [56]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

1.07 ms ± 50.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [57]:
summary = np.sum(s)

In [58]:
summary

4941411

In [59]:
%%timeit -n 100
summary = np.sum(s)

89.2 µs ± 20.6 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [60]:
s.head()

0    706
1    247
2    445
3    189
4    202
dtype: int64

In [61]:
s+=2 #adds two to each item in s using broadcasting
s.head()

0    708
1    249
2    447
3    191
4    204
dtype: int64

In [70]:
%%timeit -n 10
s = pn.Series(np.random.randint(0,1000,10000))
for label, value in s.iteritems():
    s.loc[label]= value+2

491 ms ± 4.95 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [66]:
s

0       708
1       249
2       447
3       191
4       204
       ...
9995    413
9996    271
9997    872
9998    993
9999    783
Length: 10000, dtype: int64

In [78]:
%%timeit -n 10
s = pn.Series(np.random.randint(0,1000,10000))
s+=2

480 µs ± 86.2 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [79]:
s = pn.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

0             1
1             2
2             3
Animal    Bears
dtype: object

In [80]:
original_sports = pn.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pn.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [81]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [82]:
original_sports

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [83]:
cricket_loving_countries\

Cricket    Australia
Cricket     Barbados
Cricket     Pakistan
Cricket      England
dtype: object

In [84]:
all_countries

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
Cricket        Australia
Cricket         Barbados
Cricket         Pakistan
Cricket          England
dtype: object

In [87]:
all_countries.iloc[4]

'Australia'